/* *********************************************************
	Import slide CSS
*/
@import url("slideSS.css");

/* *********************************************************
	Slideshow root page styles
*/
/* TOC */
#tplToc{
	bottom: 0;
	z-index:100;
}
.tplTocOn{
	width: 300px;
}
.tplTocOff{
	width: 0;
}
#tplTocCo{
	display: flex;
    flex-flow: column nowrap;
	margin: 1em 0;
}

.tocSrlUp{
	text-align: center;
    order: 1;
}

#tplTocScroll{
	flex: 1 1 auto;
    margin-bottom: 0;
    margin-top: 0;
    order: 2;
    overflow-y: auto;
    position: relative;
}

.tocSrlDwn {
	text-align: center;
    order: 3;
}
#tplToc div.btnOff{
    opacity:0.2;
}
div.tocSrlUp a, div.tocSrlDwn a {
    background-color: #ff974b;
	box-shadow: 0 2px 0 #e46000;
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    width: 245px;
	transition:all 0.2s ease-out 0s;
	color: #fff;
	font-size: 1.3em;
    text-decoration: none;
	border-radius: 5px;
}
div.tocSrlUp a:hover, div.tocSrlDwn a:hover {
    opacity:0.7;
}
div.tocSrlDwn a::before{
	font-family: "fontello";
	content:"\e80f";
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
div.tocSrlUp a::before{
	font-family: "fontello";
	content:"\e81f";
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
div.tocSrlUp a span, div.tocSrlDwn a span{
	position:absolute;
	left:-9999px;
}

a.btnTocTglOn, a.btnTocTglOff {
    color: #fff;
	font-size: 2em;
	height: 33px;
	position: absolute;
	right: -33px;
	top: 0;
	width: 33px;
	background-color: #e46000;
	text-align: center;
	border-bottom-right-radius: 5px;
}
a.btnTocTglOn::before, a.btnTocTglOff::before{
	font-family:"fontello";
    content:'\e825';
	vertical-align: top;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
a.btnTocTglOn:hover, a.btnTocTglOff:hover{
	background-color:#ff974b;
	text-decoration:none;
}
a.btnTocTglOn span, a.btnTocTglOff span{
	display: none;
}

#toc .toc_i a.toc_lnk span::before {
    position:absolute;
	left:0;
    font-family: "fontello";
    text-align: center;
    width: 20px;
}
#toc .pres a.toc_lnk span::before{
	content:"\e80a";
}
#toc .tocIntro  a.toc_lnk span::before{
	content:"\f129";
}
#toc .tocExpUc  a.toc_lnk span::before{
	content:"\e812";
}
#toc .tocAssmntUa a.toc_lnk span::before, #toc .tocPractUc a.toc_lnk span::before, #toc .tocQuest a.toc_lnk span::before, #toc .tocQuiz a.toc_lnk span::before, #toc .tocCoQuiz a.toc_lnk span::before{
	content:"\e80e";
}
#toc .tocConclu a.toc_lnk span::before{
	content:"\e813";
}
#toc .tocObj a.toc_lnk span::before{
	content:"\e811";
}
#toc .tocContact a.toc_lnk span::before{
	content:"\e800";
}

/* TOOLS */
a.btnEfcts, a.btnNoEfcts, a.btnModeHtml{
	display:block;
	height: 30px;
	margin:0.5em;
	width:30px;
	background-repeat: no-repeat;
	background-position: center center;
	opacity:0.2;
}

a.btnEfcts:hover, a.btnNoEfcts:hover, a.btnModeHtml:hover{
	opacity:1;
}

a.btnModeHtml{
	background-image: url("../img/tools/btnMdeHtml.png");
}
a.btnEfcts{
	background-image: url("../img/tools/btnEfcts.png");
}
a.btnNoEfcts{
	background-image: url("../img/tools/btnNoEfcts.png");
}

a.btnEfcts span, a.btnNoEfcts span, a.btnModeHtml span{
	position:absolute;
	left:-9999px;
}

/* CONTENT */
#tplSldFra{
	bottom: 20px;
}
.tplSldFraTocOn{
	left: 300px;
}
.tplSldFraTocOff{
	left: 0;
}

div.ssSlide{
	position: absolute;
	bottom:25px;
	top:0;
	left:0;
	right:55px;
}

h1.slideTi{
	position: absolute;
	width: 100%;
	height: 10%;
	margin:0px;
	text-align: center;
}
iframe.slideFra{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	bottom:0px;
	border: 0px;
	overflow: hidden;
}

/* ZOOM */
div#tplZoomFra{
	position: absolute;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:110
}
div.tplZoomOvr{
	position: absolute;
	width:100%;
	height:100%;
	background-color: #fff;
	opacity:0.5;
}
div#tplZoomCo{
	position: absolute;
	left: 15px;
	right: 15px;
	top: 15px;
	bottom: 15px;
}
div.sldZmFrg,
div.sldZmSld{
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	overflow: hidden;
	text-align: center;
}
div.sldZmSld iframe{
	overflow: auto;
	
}
a.btnZmCls{
	position: absolute;
	width:31px;
	height:31px;
	top: -15px;
	right: -15px;
	color: #ff974b;
	font-size: 1.8em;
}
a.btnZmCls::before {
    content: "\e829";
    font-family: "fontello";
}
a.btnZmCls:hover{
	text-decoration:none;
}

a.btnZmCls span{
	display: none;
}

#tplFootBanner{
	left: 50%;
}

/* WAIT MSG */
.sldWaitMsg{
	position:absolute;
	font-size:1.6em;
	font-style:italic;
	width:400px;
	margin-left:-200px;
	height:40px;
	margin-top:-20px;
	text-align:center;
	top: 50%;
	left: 50%;
	padding-top:10px;
	background-color: white;
	color:#A4A4A4;
	border: 3px solid #A4A4A4;
	box-shadow: 0px 0px 50px gray; 
	border-radius: 10px; 
}
.sldWaitMsg span{
	background: url("../img/co/throbber.gif") no-repeat center left;
	padding-left:20px;
}


/* *********************************************************
	Menu styles
*/
ul#toc{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0 10px;
	text-align:left;
	cursor: default;
	margin-left:3px
}
ul#toc a {
	text-decoration: none;
	color: black;
}
ul#toc a:hover {
    color: #B24A00;
}
ul#toc a img{
	border: 0px;
	vertical-align: middle;
}
ul#toc ul{
	list-style-image:none;
	list-style-type:none;
	margin: 2 0 0;
	padding: 0 0 0 14px;
}
ul#toc li{
	margin: 0;
	padding: 2px 0;
}

ul#toc .toc_i{
	padding:5px 20px 5px 25px;
	position: relative;
}

ul#toc a.toc_tgle_o, ul#toc a.toc_tgle_c {
    box-sizing: border-box;
    position:absolute;
    width: 20px;
	text-align:center;
	left:0;
}
ul#toc a.toc_tgle_o:hover, ul#toc a.toc_tgle_c:hover{
	color:#000;
}
ul#toc a.toc_tgle_o span, ul#toc a.toc_tgle_c span {
    display: none;
}
ul#toc a.toc_tgle_o::before {
    content: "\e80f";
    font-family: "fontello";
}
ul#toc a.toc_tgle_c::before {
    content: "\e810";
    font-family: "fontello";
}

ul#toc div.toc_sel_yes {
    background-color: #fff;
}
ul#toc div.toc_sel_yes a.toc_lnk span{
	color:#B24A00;
}

/* *********************************************************
	Prog bar styles
*/
.progFra{
	position:absolute;
	bottom: 25px;
	right: 110px;
	left: 140px;
	text-align:center;
	background-color:#999999;
	height:15px
}

.progTocOn{
	left:350px
}

.progCount{
	background-image:linear-gradient(to right, #e46000 90%, #999999);
	background-image:-webkit-linear-gradient(to right, #e46000 90%, #999999);
    background-image:-moz-linear-gradient(to right, #e46000 90%, #999999);
    background-image:-o-linear-gradient(to right, #e46000 90%, #999999);
	background-image:-ms-linear-gradient(to right, #e46000 90%, #999999); 
	background-color:#e46000;
	text-align: right;
	overflow: visible;
	left:0px;	
	color:#fff;
	position:absolute;
	height:15px;
	padding-right:10px;
	font-size:12px
}

.prog_0 .progCount{
	width:0%
}

.prog_5 .progCount{
	right:95%
}

.prog_10 .progCount{
	right:90%
}

.prog_15 .progCount{
	right:85%
}

.prog_20 .progCount{
	right:80%
}

.prog_25 .progCount{
	right:75%
}

.prog_30 .progCount{
	right:70%
}

.prog_35 .progCount{
	right:65%
}

.prog_40 .progCount{
	right:60%
}

.prog_45 .progCount{
	right:55%
}

.prog_50 .progCount{
	right:50%
}

.prog_55 .progCount{
	right:45%
}

.prog_60 .progCount{
	right:40%
}

.prog_65 .progCount{
	right:35%
}

.prog_70 .progCount{
	right:30%
}

.prog_75 .progCount{
	right:25%
}

.prog_80 .progCount{
	right:20%
}

.prog_85 .progCount{
	right:15%
}

.prog_90 .progCount{
	right:10%
}

.prog_95 .progCount{
	right:5%
}

.prog_100 .progCount{
	right:0px
}