/* *********************************************************
	Import common CSS
*/
@import url("common.css");


#tplNav{
	display: none;
}
.ssBkRoot {
	position: relative;
}
.ssBk,
.ssContainer{
	position: absolute;
	left:0px;
	right:0px;
}
.ssBk .ssBk{
	position: static;
}
.ssBkCoParent {
	position: relative;
}
.pge_ti {
	text-align: center;
}

/* HOME */
.sldHome {
    margin-left: 15%;
}
.sldHome_ti{
	text-align: center;
	margin-top:4em;
	color:#fff;
	margin-bottom: 0;
}
.sldHome_co{
	color:#fff;
}
.sldHome_co .presAuth {
    color: #B24A00;
}

/* *********************************************************
	Content styles
*/
.slideBk_co {
    background-color: #fff;
	margin-left: 1em;
	border-radius:5px;
}

.partBk, .slideContact{
	text-align: center
}

.partBk h1.slideBk_ti, .slideContact h1.slideBk_ti{
	color:#fff;
	background:transparent;
}

h1.slideBk_ti {
    color: #fff;
    margin: 0;
    padding-left: 60px;
	text-align: right;
}

h1.slideBk_ti::before{
	font-family:"fontello";
	margin-right:0.2em;
}

.slideBkObj .slideBk_ti::before{
	content:"\e811";
}
.slideBkIntro .slideBk_ti::before{
	content:"\f129";
}
.slideBkConclu .slideBk_ti::before{
	content:"\e813";
}
.slideBkExpUc .slideBk_ti::before{
	content:"\e812";
}
.slideBkQuest .slideBk_ti::before{
	content:"\e80e";
}

.sldHome_co,
.slideContact .slideBk_co {
	text-align: center;
	font-size: 0.9em;
}
.slideContact .slideBk_co {
	color:gray;
}
.presAuth p{
	margin-top:0;
}
.zoom{
	background:url("../img/co/zoom.png") center center no-repeat;
	display: block;
	width:40px;
	height:40px;
	position: absolute;
	top:-5px;
	right:-20px;
}
.zoom:hover{
	background:url("../img/co/zoomOver.png") center center no-repeat;
}
.zoom span{
	display: none;
}

.eWeb{
	margin:0 auto;
}

.resFra{
	margin:0px auto;
	position: relative;
	padding-top: 15px;
}
.txtResResLft .resFra{
	margin-right: 15px;
}
.txtResResRgt .resFra{
	margin-left: 5px;
}
.objInFlow{
	text-align:center;
}
.imgInFlow{
	text-align:center;
}
.imgInline img,
.objInline object {
	vertical-align: middle;
}
/* Tables */
.txt_tb{
	margin:auto;
	border:0.2em solid #e46000;
	background-color: white;
}
.txt_tb caption{
	color: gray;
	font-style: italic;
}
.txt_tb td,
.txt_tb th{
	border:0.1em solid #e46000;
	padding:0.2em
}
.txt_tb thead{
	border-bottom:0.2em solid #e46000;
}
.txt_tb tfoot{
	border-top:0.2em solid #e46000;
}
.txt_tb p{
	margin: 1px 0;
}

.txt_tb .row_tbtr td, .txt_tb .row_tbtr th{
	background-color:#e46000;
	color:white
}

.col_tbcl {
	background-color:#E2E7F1;
}

.txt_tb th{
	color:#3C4961;
	text-align:center
}

.txt_t_tbcl,
.txt_t_tbtr{
	background-color:#fff5ea;
}
.txt_n_tbtd p{
	text-align: right;
}
.txt_w_tbtd p{
	text-align: center;
}
.resInFlow{
	text-align: center;
}
.caption,
.resInFlow_ti,
.webCap_ti {
	color: gray;
	font-style: italic;
	text-align: center;
}
.webCap_co{
	text-align: center;
}





.quoteBk {
	background-color: #F3F3F3;
	padding: 1em;
	font-family: Georgia, dejavu serif condensed, serif;
}

/* ---------- animations ---------- */
div.sldAnmStart{
	background: no-repeat center center url("../img/anim/btnStart.png");
	position:absolute;
	width:100%;
	height:100%;
	cursor:pointer;
}
div.sldAnmCtrl{
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #9a9a9a;
	position:absolute;
	top:5px;
	left:50%;
	margin-left: -40px;
	height: 25px;
	width: 80px;
	border: 2px solid #e46000;
}
div.sldAnmCtrl span{
	display: none;
	position: absolute;
}
div.sldAnmCtrl a{
	display: block;
	width:16px;
	height:16px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 4px;
}
a.sldAnmBtnPrv{
	background-image:url("../img/anim/btnPrv.gif");
	left:5px;
}
a.sldAnmBtnPrv:hover{
	background-image:url("../img/anim/btnPrvOvr.gif");
}
a.sldAnmBtnNxt{
	background-image:url("../img/anim/btnNxt.gif");
	right:5px;
}
a.sldAnmBtnNxt:hover{
	background-image:url("../img/anim/btnNxtOvr.gif");
}
a.sldAnmBtnPse{
	background-image:url("../img/anim/btnPse.gif");
	left:33px;
}
a.sldAnmBtnPse:hover{
	background-image:url("../img/anim/btnPseOvr.gif");
}
a.sldAnmBtnPly{
	background-image:url("../img/anim/btnPly.gif");
	left:33px;
}
a.sldAnmBtnPly:hover{
	background-image:url("../img/anim/btnPlyOvr.gif");
}

