/* *********************************************************
	Import slide CSS
*/
@import url("slideSS.css");

/* TOC */
#tplToc{
	border-right:1px solid #7e99cc;	
	width:25%;	
	height:100%
}

#tplTocScroll{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	overflow:auto
}

#tplSldFra{
	left:27%;
	height: 100%;
	width:73%;
}


/* NAV */
#tplRootNav{
	bottom: 0px;
	height: 40px;
	width: 100px;
}

/* TOOLS */
a#btnModeSs{
	position: absolute;
	height : 40px;
	top:0px;
	width:30px;
	right:10px;
	background-repeat: no-repeat;
	background-position: center center;
}
a#btnModeSs{
	background-image: url(../img/tools/btnMdeSs.png);
	opacity:0.2;
	filter:Alpha(opacity=20); 
}
a#btnModeSs:hover{
	opacity:1;
	filter:Alpha(opacity=100); 
}
a#btnModeSs span{
	display: none;
}

/* FOOTER */
#tplFootBanner{
	left: 26%;
}

/* MENU */
ul#toc{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0px;
	padding: 0px;
	text-align:left;
	cursor: default;
	margin-left:3px
}
ul#toc a {
	text-decoration: none;
	color: black;
}
ul#toc a span{
	color: black;
}
ul#toc a img{
	border: 0px;
	vertical-align: middle;
}
ul#toc ul{
	list-style-image:none;
	list-style-type:none;
	margin: 2px 0px 0px 0px;
	padding: 0px 0px 0px 14px;
}
ul#toc li{
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 2px 0px;
}

ul#toc a.toc_lnk {
	padding: 2px 2px 2px 7px;
	display: inline-block;
}

ul#toc a.toc_lnk:hover {
    text-decoration: underline;
}


/* CONTENT */
.sldHome_ti{
	text-align: center;
	margin-top:5em;
	font-size:3em;
	color:#fff;
}
.sldHome_co, .slideContact .slideBk_co {
	font-size:1.3em;
	text-align:center;
}